[2020-04-15 16:11] philmui opened #1 "Create Survey Questions"

[2020-04-15 16:14] philmui opened #2 "Implement Survey Pages"

[2020-04-15 16:15] philmui opened #3 "Implement survey pages"

[2020-04-15 16:16] philmui opened #4 "PrivateKit Server V1"

[2020-04-15 16:16] philmui opened #5 "Mock Survey APIs"

[2020-04-15 16:16] #5 closed, assigned to nobody

[2020-04-15 16:20] philmui opened #6 "PrivateKit Server Design"
- [x] [Private Kit Service](https://docs.google.com/document/d/18laAJLw2usCZvEF7pPF3b_m6IUBr-Vjplz1f7byltTM/edit) Google Doc outlines the design
- [x] API Design: https://anypoint.mulesoft.com/exchange/07dc70f5-4764-4132-97cf-e71bfac3f7fd/privatekit-covid19/minor/2.0/
- [ ] Convert Mulesoft API interface into a textual document
- [ ] Authentication on the service
- [ ] Confirmation from Sam's Team

[2020-04-15 16:20] philmui opened #7 "PrivateKit Gateway Design"

[2020-04-15 16:20] philmui opened #8 "Client Pages Design"

[2020-04-15 16:21] philmui opened #9 "Security Review"

[2020-04-15 16:47] #3 closed, assigned to nobody

[2020-04-15 16:48] #4 closed, assigned to nobody

[2020-04-15 16:56] kujenga opened #10 "Location Tracking"

[2020-04-15 17:18] #2 closed, assigned to nobody

[2020-04-15 17:52] qingqingliu opened #11 "Store location data in Realm instead of a key value pair with all location data in a big array"
- [x] Store location data in Realm.io
- [ ] App can retrieve all stored location data from Realm
- [ ] App can purge location data (all or by time range) from Realm

[2020-04-15 17:54] qingqingliu opened #12 "Create UI to collection user inputs for Self Report Survey"
- [ ] Create UI to match design spec to collection user inputs for self reporting survey
- [ ] Support multi-page UI with back and next support based on design

[2020-04-15 17:56] qingqingliu opened #13 "API Integration with Waypoints"
- [ ] Support GET for getting location data
- [ ] Support POST for upload

[2020-04-15 17:58] qingqingliu opened #14 "Display a list of location on map"
- [ ] Display a list of location on Map
- [ ] Map interaction support based on design

[2020-04-15 18:00] qingqingliu opened #15 "API Integration for Survey + Waypoints"

[2020-04-15 18:02] qingqingliu opened #16 "API Integration with Survey"
- [ ] Integration with survey API to submit API response to survey endpoint

[2020-04-15 18:04] qingqingliu opened #17 "UI for guide user through location data and display heatmap on map"
- [ ] Guide user through location upload based on design
- [ ] Display map view of location data from local and server waypoints based on design

[2020-04-15 18:34] troach-sf opened #18 "Android doesn't resume location tracking on restart"
## Version

- Type of phone: Android
- OS Version: 10 (Assume most devices)
- Model: Pixel 3a (Assume most devices)

## Steps to reproduce

Restart the device, location tracking does not resume until the app is manually opened.

## Expected Behavior

When I restart the device, location tracking should resume in the background without requiring the user to open Safe Paths

## Research

This appears

[2020-04-15 20:05] troach-sf commented on #18
For our tracking purposes, the solution is here: https://github.com/tripleblindmarket/covid-safe-paths/pull/526

[2020-04-16 13:30] troach-sf commented on #18
Fix merged by Safe Paths team. Closing

[2020-04-16 15:59] ThomasDuBois commented on #1
This task is in progress among @andrew-sfdc @ppadmanabhan-sf @ShivanKaul and I.

The working notes are here: https://drive.google.com/drive/folders/1zkUf4jmz2p_tzo8QH-o3bYpvqkHJUFfN

Main tasks are:
- Building a "profile" to be stored on the app for some of the CDC's per-person questions (Andrew).
- Building the UX for the survey including transitioning to "upload your waypoints" (Andrew).
- Build

[2020-04-16 16:15] qingqingliu opened #19 "Support subset of self-reporting questions to be one time only questions"
Subset of self-reporting questions should be asked only once. User can change the answer to those questions from settings. When perform self reporting, answers to those questions will be retrieved and sent automatically.

Please refer to [this doc](https://docs.google.com/document/d/1Q-37obNuIZz2jARz7dsPA6rBKJITolS62IJGp1l08g8/edit?ts=5e9794ba) for what are part of one time questions

- [ ] Store

[2020-04-16 16:51] #18 closed, assigned to troach-sf

[2020-04-16 16:53] troach-sf commented on #11
See relevant issue in public repo here: https://github.com/tripleblindmarket/covid-safe-paths/issues/527

[2020-04-16 16:56] kujenga commented on #6
Comments from Sam, SQL-based server may be the preference from health providers.

@ppadmanabhan-sf states that kubernetes work will be done by another team?

[2020-04-16 17:00] kujenga commented on #11
Update from standup: There will be some additional follow-ups and coordination with MIT teams to discuss the current design, there is a backfilling approach for gaps in GPS data that may not be desired in the long term.

Need to determine who the stakeholders are on this, will follow up with Sam.

[2020-04-16 17:04] kujenga commented on #13
From Standup, @qingqingliu has some feedback on server design for @ppadmanabhan-sf

[2020-04-16 17:05] kujenga opened #20 "UX designs for self reporting"
Tracked in Trello: https://trello.com/b/yGRLi66i/ux-contact-tracing

[2020-04-16 21:00] troach-sf commented on #11
Received buy-in from stakeholders.

* Will store precise location in sqlite database and stop reporting location to the existing key/value storage.
* Allowed to clear the existing async-storage key. We will lose backfilled data, and previously run Google Takeout imports. This has been approved as acceptable given circumstances.
* Google takeout imported data will be stored in async-storage under a

[2020-04-20 16:42] kujenga commented on #20
Update from Standup: UX backlog is present in Standup, this issue tracks all that work, goal is to have all self-reporting designs done by EOD today.

[2020-04-20 16:45] kujenga commented on #6
Update from Standup: Implementation has started, teams seem to be are okay with it. Adding persistence layer today, then working on tests.

Need help because more bandwidth is needed:
- Survey piece of this

Once the framework is out, replicating it per-survey will require more work.

@ppadmanabhan-sf to make individual tickets for people to assist with this work.

[2020-04-20 16:46] kujenga opened #26 "Determine deployment strategy for PrivateKit Server"

[2020-04-20 16:50] kujenga commented on #26
Considering a Serverless design, AWS Lambda.

One consideration still being discussed is the persistence layer, i.e. need to manage a Postgres database, backups, etc. Hard to get around that.

The application-level simplification being discussed is moving away from Kubernetes and into Lambda. @ppadmanabhan-sf states that it will be possible to use both, application itself won't care.

[2020-04-20 16:51] kujenga commented on #6
Uri will connect with @ppadmanabhan-sf  on more development resources.

[2020-04-20 16:53] kujenga commented on #10
Update: Finished up implementation on Friday, working through merge conflicts with upstream `develop` branch.

Action item:
- [ ] @troach-sf Need to determine whether or not encryption on-device is a requirement to start with, will work with @ShivanKaul to come to a resolution here as well.

[2020-04-20 16:55] kujenga opened #27 "Determine integration strategy for UI redaction/upload tool into PrivateKit server"
The goal of this issue is to determine the strategy for the tools in this repository: https://github.com/tripleblindmarket/safe-places with the PrivateKit tools, or tools in the mobile app.

An alternative could be to have all redaction happen on-device. Or maybe do both.

[2020-04-20 16:57] kujenga commented on #12
Update: Setup adding/updated dependencies, working through cross-platform navigation differences. Creating general purpose survey powered by dynamic data.

Not blocked!

[2020-04-20 16:58] kujenga commented on #13
Update: Done with integration work, have a few pieces of feedback for @ppadmanabhan-sf on this, need to get those resolved before this is closed out.

It's not currently a heatmap because "weights" are not part of the API/

[2020-04-20 17:04] kujenga opened #28 "App <> Service Authentication design"
Work on an authentication strategy that does NOT require user accounts but helps manage spam and ensure that submitted data is trusted.

Goals/What we are protecting:
- Don't want fraudulent activities
- Should only be able to contact the service from the app

Options:
- API Key, similar to Google Maps
- Pin Server cert to prevent sniffing traffic
- Require Captcha for submissions

[2020-04-20 17:07] kujenga commented on #28
Update as of today: Don't yet know the path forward here.

Possible suggestions from today:
- Pinning HTTPS
- Require reCAPTCHA (needs more thought/validation)
	- Privacy concerns, cc @ShivanKaul , Cloudflare also has a tool: https://blog.cloudflare.com/moving-from-recaptcha-to-hcaptcha/

[2020-04-21 16:35] kujenga opened #29 "Implement on-device encryption for Location Tracking data"
Looking at using https://realm.io/ for this as well

[2020-04-21 16:38] kujenga commented on #6
Update
- API spec is in a good place now
- Working with Uri on engineering resources
- Possibly will have something ready in a week

[2020-04-21 16:39] kujenga commented on #13
Update, latest API changes addressed some but not all of the issues with the API. Will also need to address authentication concerns that are more recently discussed.

[2020-04-21 16:43] kujenga commented on #20
Update: finished onboarding process, working on questions, things are not blocked or blocking, on schedule. gif: https://files.slack.com/files-pri/T011LH47TV2-F01263E1PTP/screening_-_contact_tracing.gif

Discussion: Is there an expectation that the setup flow improvements are in scope for the self-reporting changes. Sam and Paolo will discuss today as part of scope-reduction talks.

Andrew: UX per

[2020-04-21 16:44] kujenga opened #30 "Client-side ability to fuzz/redact data within the mobile app"
Related to location tracking and self-reporting data uploads, need a determination on whether we want to have redaction capabilities within the app.

[2020-04-21 16:47] kujenga commented on #12
Update: basic screens sketched up, hoping to connect with @andrew-sfdc about what a few specifics will look like. Thinking is that it will be more efficient to integrate everything into a single flow.

Question: when and what is being uploaded? Upload is opt-in.

API spec is here: https://docs.google.com/document/d/18laAJLw2usCZvEF7pPF3b_m6IUBr-Vjplz1f7byltTM/edit worked in #6

[2020-04-21 16:50] kujenga commented on #1
Update: CDC questions are in a good place

Wondering for the future if there are alternate additional questions that might help us in V2, e.g. asking about loss of smell.

[2020-04-21 16:51] kujenga opened #31 "Documentation and posts around privacy"
Shivan:
- Document on privacy requirements

Ian:
- Blog post in progress

[2020-04-21 16:52] kujenga commented on #31
Sam to connect with Shivan about an engineer who is interested in working on contributing to the privacy doc.

[2020-04-21 16:53] kujenga commented on #16
API definition: https://docs.google.com/document/d/18laAJLw2usCZvEF7pPF3b_m6IUBr-Vjplz1f7byltTM/edit

[2020-04-21 16:55] kujenga commented on #14
Echoing comments from last time, there is a "weight" needed from the API in order to display locations. The assumption here is that the backend is not just giving raw points, it would instead be doing some clustering to provide information in aggregated form. to connect with @ppadmanabhan-sf about whether or not there is aggregation going on./

@qingqingliu asks @andrew-sfdc about color palette, e

[2020-04-21 16:56] kujenga commented on #17
Update: this ticket is about transitioning from the location flow in https://github.com/safe-paths-contrib/covid-safe-paths/issues/14 to the map view.

[2020-04-21 16:58] kujenga commented on #9
Update: Sam shares that it would be great to understand how the existing project can get up to speed on best practices and third party tools. This will be "need to have" pretty soon.

Paolo to setup meeting to review.

[2020-04-21 23:47] ShivanKaul commented on #29
@troach-sf we might still need to have some kind of app authorization, to add some more security on export. Something to keep in mind

[2020-04-22 03:31] qingqingliu opened #32 "Survey Upload API Authentication"
- [x] Support Recaptcha

[2020-04-22 03:31] #8 closed, assigned to qingqingliu

[2020-04-22 03:31] #13 closed, assigned to qingqingliu

[2020-04-22 16:45] kujenga commented on #9
Update: We now have a plan for making use of a captcha to reduce the potential for high-volume spam. This is part of the API

Certificate pinning/root certificates. Fiaz indicated a preference for pinning the CA authority. Probably out of scope for the next release. Root CA pinning might be feasible for the next release, depending on server strategy.

Working through decision on encryption of data

[2020-04-22 16:49] kujenga commented on #6
Update: API design seems to be clear, coding work starts today with new team members. Just small little things from @aputinski 's perspective. Source of images is one open question, @ppadmanabhan-sf will add that in.

Branching will be needed, conditions will be present. Default is "go to the next question", condition field is optional. Based around the index of the questions, which is documented.

[2020-04-22 16:50] kujenga commented on #16
Not blocked on this, more details here: https://github.com/safe-paths-contrib/covid-safe-paths/issues/6#issuecomment-617898958

[2020-04-22 16:50] kujenga commented on #12
@aputinski has a few questions for Andrew here that will be followed up on with @andrew-sfdc but not presently blocked/

[2020-04-22 16:52] kujenga commented on #10
Update: Storing just 14 days is confirmed. Working through details of cross-device interactions. Realm as outlined in #29 will be different between devices so will need to create a wrapper for this app.

[2020-04-22 16:53] kujenga commented on #32
Update: Work is in progress, here. Still a bit of discussion ongoing.

[2020-04-22 16:54] kujenga commented on #31
Ian published post on "why privacy matters" 🎉

Shivan working on privacy principles doc, still some open questions there, but would love feedback on that. cc @ShivanKaul for link

[2020-04-22 16:54] ShivanKaul commented on #31
Assessment doc: https://salesforce.quip.com/GyxUADNboSYg

[2020-04-22 16:57] kujenga commented on #19
This is the ticket that is what the design is waiting on, this is the target of the branching strategy worked on elsewhere.

Onboarding questions like "age range", etc. are one-time. Since we're not doing onboarding in initial release, need to integrate them with the flow.

The idea here is that questions answers would be stored on-device.

Question: Is this needed for MVP?

[2020-04-22 16:59] kujenga commented on #19
Moving to the top of the icebox to represent low priority

[2020-04-22 17:00] kujenga commented on #30
Update: This will not be in V1, assuming that we are not sending data up to the server.

More discussion might be warranted.

[2020-04-23 16:45] kujenga commented on #32
Update: Implementation is complete for both iOS and Android, just need an account and production-quality web server.

On the backend side, starting with the implementation to support this, captcha validation included. Captcha interface exists, hCaptcha implementation exists. We will keep hCaptcha for now.

[2020-04-23 16:46] kujenga commented on #10
Update: Finalized a plan with @qingqingliu on how to store data, all set to proceed.

[2020-04-23 16:47] kujenga commented on #9
Update: Paolo to connect with Fiaz for an update

[2020-04-23 16:48] kujenga commented on #6
Update: iterated on survey design, it is complete. Not going to do waypoints or heatmap implementation anymore.

Concentrating just on surveys now.

[2020-04-23 16:51] qingqingliu opened #34 "Hosting hCaptcha Page on PrivateKit Server"
- [ ] Host https://safepath-captcha.herokuapp.com/index.html on a PrivateKit Server
- [ ] Replace the site key in that file with the site key to match the hCaptcah PrivateKit server is using

[2020-04-23 16:53] kujenga commented on #20
Update: No blockers from engineering perspective for the current V1 release.

Future blockers are present on UX for map views, but that's no longer in V1.

[2020-04-23 16:55] kujenga commented on #12
Update: For the first release the first question and four finish screens will be hard-coded in the app. This allows the API to be simpler.

Will not worry about saving answers, with https://github.com/safe-paths-contrib/covid-safe-paths/issues/19 in the icebox.

[2020-04-23 16:56] kujenga commented on #31
Update:
Ian: Both pieces picked up by "The Startup", working on few options for the next

[2020-04-23 16:57] kujenga commented on #16
Update: submission process work not started, but should be straightforward based on discussions.

[2020-04-23 16:58] kujenga commented on #20
@aputinski points out that there may not be a UX mockup for the actual submission screen.

@aputinski to reach out to @andrew-sfdc and cc Paolo on this.

[2020-04-23 16:59] kujenga commented on #29
No updates here, things progressing. Getting started with Realm, beginning encryption process after that.

Will want review, in particular from a security expert, after implementation.

Issue is still outstanding on Android <23 not entirely secure, just a platform limitation.

[2020-04-24 16:32] troach-sf opened #35 "Grab zip code from coordinate using a React Bridge"
We need to be able to get the users zip code from lat/long coordinates. Google Maps Geocoder API costs money, but native libraries on Android/iOS can do this for free. We need to be able to access these methods from React Native.

https://developer.android.com/reference/android/location/Geocoder.html

https://developer.apple.com/documentation/corelocation/converting_between_coordinates_and_user-fr

[2020-04-24 16:33] troach-sf commented on #11
Updated to make note of our usage of Realm, not SQLite

[2020-04-24 16:40] kujenga commented on #9
Update from Fiaz:

[2020-04-24 16:43] kujenga commented on #20
Request from @aputinski to have a source of truth for the UX designs. Will schedule a meeting soon today with Paolo and @andrew-sfdc on this.

[2020-04-24 16:44] kujenga commented on #12
Update: All good here, just waiting on UX clarifications: https://github.com/safe-paths-contrib/covid-safe-paths/issues/20#issuecomment-619123307

[2020-04-24 16:45] kujenga commented on #11
Update: both platforms are storing data in realm, working on wrappers for access from react.

Encryption will be handled in follow-on ticket #29

[2020-04-24 16:48] kujenga commented on #35
Update: using on-device controls will get around any need to pay for API calls, TBD which specific API key the production app will use.

[2020-04-24 16:50] kujenga commented on #34
Update: @imanzano and team talked with @qingqingliu about the requirements, no blockers here, have all the needed information.

Need the real credentials for this to work, site key, etc.

Salesforce should NOT own the production keys here, but can use it for testing. @ppadmanabhan-sf will work with Sam to this end, to get MIT owned hCaptcha credentials: https://www.hcaptcha.com/

[2020-04-24 16:51] kujenga opened #36 "Server implementation of survey API and database"

[2020-04-24 16:51] kujenga opened #37 "Server implementation of survey database"

[2020-04-24 16:53] kujenga commented on #6
Update: hoping to have everything done for Monday!

[2020-04-24 16:54] kujenga commented on #31
Update: @ShivanKaul working on thinking through and documenting abuse scenarios.

[2020-04-24 16:55] kujenga opened #38 "Tableau public API connector for heatmaps"
Working on a new public API capability

[2020-04-24 16:56] kujenga commented on #38
Update: Pulling data from three sources that is curated and validated. John's Hopkins, etc.
- API spec should be ready today
- API should be ready by Tuesday

@ThomasDuBois shares interest in the draft API docs for this, @ppadmanabhan-sf will share out.

There will be credit for the data sources needed to be shown in the app

[2020-04-24 17:00] kujenga commented on #28
Closing this out with the work as planned for using hCaptcha here: https://github.com/safe-paths-contrib/covid-safe-paths/issues/32

[2020-04-24 17:00] #28 closed, assigned to nobody

[2020-04-27 16:50] kujenga commented on #11
Update: almost complete with Android wrapper, saving, getting, trimming, etc. Writing wrapper for iOS is next, and then that will be tied into the code.

Expecting today Android side done today.

[2020-04-27 16:53] kujenga commented on #20
Update: completed one-time questions section, as well as when the user hits an endpoint, e.g. "call 911".

All assets for the self assessment have been exported so @aputinski should have everything he needs. Checking icon licenses but should be good to go there.

Starting on map experience today as well.

Above items from @aputinski are resolved, there is now a "ux/Start Here" document that is the

[2020-04-27 16:54] kujenga commented on #34
Update: Implementation is ready, hosting in Heroku, will be ready for today on our own account. Will need production hCaptcha credentials.

Sam will work on creating hCaptcha today for use here.

[2020-04-27 16:55] kujenga commented on #36
Update: finished all the endpoints, testing everything now to find any bugs. Deploying on heroku.

@ppadmanabhan-sf reviewed and merged code.

Will share out the endpoints once it is deployed. Will be hardened this week after initial deployment.

[2020-04-27 16:56] kujenga commented on #37
Closing as duplicate of https://github.com/safe-paths-contrib/covid-safe-paths/issues/36

[2020-04-27 16:56] #37 closed, assigned to imanzano

[2020-04-27 16:58] kujenga commented on #12
Update: have the screens that are needed now, will be going back and doing localizations, will be looking at fonts and a few other things.

Outstanding questions:
- There are a few links in the mockups, need to figure out targets and behavior
- What happens after you "share anonymized data", close screen, etc. @andrew-sfdc hoping to connect with @aputinski about what is easiest to implement

[2020-04-27 17:02] kujenga opened #39 "License scanning for backend server"
Making sure that we're using properly licensed dependencies, as well as dependencies that have no security issues.

Snyk supports free usage for open source: https://snyk.io/plans/

[2020-04-27 17:03] kujenga commented on #31
Update: Shivan working on abuse scenarios doc, draft is up, been getting back comments. Prioritized the privacy assessment as well, will connect with paolo and sam.

Assessment will be split out from here.

[2020-04-27 17:08] kujenga commented on #16
Update: @ppadmanabhan-sf thinking that integration work starting sooner rather than later here to make sure that if there are tweaks with the server they will be able to tackle them sooner.

[2020-04-27 17:09] kujenga opened #40 ""Blitz" for QA of the app"
Goal is to engage with everyone to try to test the application, doing e2e testing for the whole system, including server-side

- [ ] Survey complete
- [ ] Backend up and running
- [ ] Location will have lots of aspects to test
	- [ ] Google imports
	- [ ] Location accuracy handling, GPS jumps around over time

[2020-04-27 17:11] kujenga commented on #16
Idea: @ppadmanabhan-sf suggests having a default set of questions hard-coded in the app, used if there is no server available.

[2020-04-27 17:35] kujenga commented on #9
Update from Fiaz:

[2020-04-28 16:06] ShivanKaul opened #41 "Privacy / Principles Review"
- Principles: https://salesforce.quip.com/HKtvANOEe7M3
- Abuse scenarios: https://salesforce.quip.com/x5hdATvVqsPN
- Privacy assessment: https://salesforce.quip.com/GyxUADNboSYg

[2020-04-28 16:12] ShivanKaul opened #42 "Privacy work items prioritization for V1"
Agree on prioritization for https://salesforce.quip.com/GyxUADNboSYg

[2020-04-28 16:36] kujenga commented on #6
Overall update from @ppadmanabhan-sf:

Code looks great, hoping to have it deployed. There is a deployment currently, @imanzano has it deployed in his own Heroku account.

[2020-04-28 16:38] kujenga commented on #36
Update: code is done, deployed in @imanzano 's heroku account. Next is making sure that integration with mobile app is all aligned.

Endpoints: @aputinski and others have the data here.

@qingqingliu may be able to help with API integration work on mobile app.

[2020-04-28 16:39] kujenga commented on #34
Update: There is an endpoint available for this at /v1.0/captcha, @fzavalia or @imanzano to update the spec with the specific information so that @qingqingliu can use it in testing.

[2020-04-28 16:40] kujenga commented on #32
Update: Will try out the new URL available through #34

[2020-04-28 16:40] kujenga commented on #16
Update: @qingqingliu and @aputinski will connect about collaborating here.

[2020-04-28 16:43] kujenga commented on #12
Update: Met with @andrew-sfdc and got mockups together for remaining flows. @aputinski and @andrew-sfdc will connect with @qingqingliu about how the captcha will work.

Question flows and ending screens, etc. are working. Things are in a good place.

Possible blockers coming up that Paolo will meet with @aputinski to help work through, will include @imanzano and @qingqingliu as well.

[2020-04-28 16:44] kujenga commented on #11
Update: Android wrapper is fully functional, last piece is migrating existing location data to the new database storage.

Javascript work for this is mostly written as well.

Remaining work is the iOS wrapper and adding encryption in #29

[2020-04-28 16:45] kujenga commented on #42
Update: Meeting with Paolo today, will be discussing this further. Sam is in discussion with MIT legal review. Working through "P0" items for an upcoming release.

Also connecting with a red team out of princeton who will focus on this area.

[2020-04-28 16:46] imanzano commented on #36
The Server is deployed on https://fathomless-mountain-29102.herokuapp.com

**Captcha page**
/v1.0/captcha

**Endpoints**
_Health_
/actuator/health

_Survey_
GET  /v1.0/{app_namespace}/survey
POST /v1.0/{app_namespace}/survey
POST /v1.0/{app_namespace}/survey/{survey_id}/response

All the operations (POST and GET) are protected with Captcha token.

The Server has one app create with namespace "2"

[2020-04-28 16:47] kujenga commented on #31
@ShivanKaul 's work is split out into #41

[2020-04-28 16:48] kujenga commented on #20
Update: No particular updates here today, various things in progress supporting @aputinski

[2020-04-28 16:51] kujenga commented on #35
Update: "Option 2" of downloading local data for on-device lookups seems to be favored at this point.

Deadline for May 7th is tight to add back in Heatmap.

Feedback from Paolo is to stay focused on current priority items. If something has to slip in the release, it is okay for this feature to move to the next release.

App ID security posture still needs to be verified, discussion with Fiaz ongo

[2020-04-28 16:56] kujenga commented on #40
Update: Sam calls out that testing organization within the existing open source org can help here as well, lots of folks involved on that front with pretty sophisticated tools.

[2020-04-28 21:54] ShivanKaul opened #43 "SafePaths: Send waypoints via app (and not email)"
The user sends the healthcare authority waypoints via email for SafePaths (not HIPAA compliant or secure, unlike an HTTPS connection made between an app and the server).

This is more on the MIT side (existing functionality), but we should keep track of this.

[2020-04-29 16:03] qingqingliu opened #44 "Integrate Captcha to the Survey flow"
- [ ] Integrate Captcha into survey flow
- [ ] Captcha screen should follow survey design spec with support of top images, title, description and bottom docked button

[2020-04-29 16:04] #44 closed, assigned to qingqingliu

[2020-04-29 16:04] qingqingliu opened #45 "Reduce captcha UI top padding"
we reduce the top padding for https://fathomless-mountain-29102.herokuapp.com/v1.0/captcha from 100 to say 32?

[2020-04-29 16:05] qingqingliu opened #46 "Remove authentication requirement for GET for Survey endpoint"
Remove authentication requirement for GET for Survey endpoint, Only POST should require captcha

[2020-04-29 16:29] qingqingliu opened #47 "Use Survey Get API to power question UI"
- [ ] Use Survey GET API to power survey questions

[2020-04-29 16:42] kujenga commented on #36
Update:

- Server has been updated so that only POST is protected with captcha
- Next work here is integration testing, any iterations

[2020-04-29 16:44] kujenga commented on #47
Update: Work has just started

@imanzano is working on an endpoint to get a single survey, that will be ready in just a few minutes!

[2020-04-29 16:45] kujenga commented on #12
Update: All pushed to a branch, @qingqingliu running it locally. UX sync yesterday and will sync again after this meeting.

Still working on intro screen and @aputinski will work on response payload for the server.

Will then sit with @andrew-sfdc to do final UI tweaks.

[2020-04-29 16:46] kujenga commented on #20
Update: sounds like nothing blocking on the UX front currently.

[2020-04-29 16:46] kujenga commented on #34
This is done! A few tweaks came in for styling today.

[2020-04-29 16:46] #34 closed, assigned to fzavalia

[2020-04-29 16:47] kujenga commented on #11
Update: Completed JS portion yesterday, got existing tests passing 100%. Today working on iOS wrapper, hoping to complete that by end of day.

Then next is encryption work.

[2020-04-29 16:49] kujenga opened #48 "Server setup documentation/tooling"
The goal here is to provide documentation for the server code.

[2020-04-29 16:50] kujenga opened #49 "Server CI/CD setup for new repo location"
For ongoing development of the server. Need to port existing logic for open source work.

[2020-04-29 16:51] kujenga commented on #43
Update: Sam working on if we can change this, this ticket is tracking progress form our side.

[2020-04-29 16:51] kujenga commented on #45
This is done!

[2020-04-29 16:51] #45 closed, assigned to imanzano

[2020-04-29 16:51] kujenga commented on #46
This is complete!

[2020-04-29 16:51] #46 closed, assigned to imanzano

[2020-04-29 16:53] kujenga commented on #49
Update: Already using GitHub actions, so that should move over easily.

Compiles, tests, and builds properly.

This ticket may just be verifying that everything works as expected in the new repo location.

[2020-04-29 16:55] kujenga commented on #38
Update: @ppadmanabhan-sf working with them, had something ready but this is now out of scope.

We can expect this to come in tomorrow or so, will be ready when it is needed.

Resolution on the approach for data lookups is "Option 2" to do local on-device reverse geo-coding, as outlined here: https://docs.google.com/document/d/1iJOAr8hlar9kKH9elvtGuPcGBFsDt8CHJe2H-F_toUU/edit#heading=h.vorgfj1nhr45

[2020-04-29 16:57] kujenga commented on #35
Option 2, as confirmed here: https://github.com/safe-paths-contrib/covid-safe-paths/issues/38#issuecomment-621336485

[2020-04-29 16:59] kujenga commented on #40
Next steps here are to connect with Sam directly to engage with testing resources once we are ready to have everything tested.

Sam shares the Heroku will be best.

[2020-04-29 17:00] kujenga commented on #9
Update: It will be okay to have the key in the source since it is properly restricted.

[2020-04-29 17:06] imanzano commented on #39
Our repo is using https://snyk.io/.
There are no license violations reported by snyk.

[2020-04-29 17:42] #47 closed, assigned to qingqingliu

[2020-04-29 22:16] #32 closed, assigned to qingqingliu

[2020-04-30 16:38] kujenga commented on #12
Update: all integrated now, work connecting to server started. Test data is not good. Will need more complex branching, etc. to truly validate.

Loading states still remain, spinner while fetch is in progress.

Question: what should we be doing with bad data? can we trust the server? ticket with more detail here: https://github.com/safe-paths-contrib/covid-safe-paths/issues/50

[2020-04-30 16:40] kujenga opened #50 "Defensive coding improvements for Survey UI"
This is a follow on to https://github.com/safe-paths-contrib/covid-safe-paths/issues/12#issuecomment-621966682, working on improvements to the survey UI to make it robust against backend data that might be malformed.

Possible issues raised by @aputinski :
- "Jump to key", key doesn't exist
  - Backend handles this with foreign key constraints.
- Option keys
  - Backend handles this with foreign k

[2020-04-30 16:42] kujenga commented on #12
@aputinski to re-group with @qingqingliu on the details of connecting work n https://github.com/safe-paths-contrib/covid-safe-paths/issues/47 to this work.

[2020-04-30 16:43] kujenga commented on #20
Update: working on a few things for Adam, working on map data viz for public data.

[2020-04-30 16:44] kujenga commented on #11
Update: Finished iOS wrapper, now all wrappers and JS code are complete. PR will be previewed with @aputinski and @qingqingliu to the public repo. Still don't want to merge, since encryption is also a requirement.

But will start getting eyes on it. Tim will be the one merging to upstream, will give him a heads up before submission.

[2020-04-30 16:48] kujenga commented on #12
@aputinski question on timeline for translations: what is the timeline?

Do we want a static version of the survey within the app? And does this need translations as well?

Sam: Translation will need Haitian Creole definitely, Tim Serat can be reached out to for discussing this.

Paolo brings up, should we have the questions themselves localized? Sam and Paolo will work on this.

---

Summary: Use

[2020-04-30 16:50] kujenga commented on #1
@ThomasDuBois shares that CDC updated the question list they have. Maybe no changes needed for us but there are changes we can follow.

Is this the source of truth? [Self-Assessment Questions (WIP)](https://docs.google.com/document/d/1Q-37obNuIZz2jARz7dsPA6rBKJITolS62IJGp1l08g8/edit)

Yes, that the latest.

@ThomasDuBois will shift out of a previous version of the doc.

[2020-04-30 16:52] kujenga opened #51 "Localization of survey questions"
Tracking work to localize the survey questions.

There are capabilities within the app for localization, which may or may not be helpful for localizing the questions.

[2020-04-30 16:56] kujenga commented on #51
Echoing discussion, there will be a new backend requirement for responding with different surveys based on language requirement.

Two options:
- Each JSON response from the server has a single language
- Each JSON response from the server supports localizations, contains multiple languages

[2020-04-30 16:57] kujenga opened #52 "Augment server to support language-specific survey responses"
@imanzano will take this on, working with @ppadmanabhan-sf . This is in support of Localization, ref https://github.com/safe-paths-contrib/covid-safe-paths/issues/51

[2020-04-30 17:00] kujenga commented on #49
Closing this out with the new repo all set up: https://github.com/PrivateKit/private-kit-service, e.g. https://github.com/PrivateKit/private-kit-service/runs/633811878

Future work might tackle code coverage publishing, etc.

[2020-04-30 17:00] #49 closed, assigned to fzavalia

[2020-04-30 17:02] kujenga commented on #39
It is configured on the separate repo, not on privatekit yet

[2020-04-30 17:03] kujenga commented on #48
This is accomplished within the repo: https://github.com/PrivateKit/private-kit-service

[2020-04-30 17:03] #48 closed, assigned to fzavalia

[2020-05-01 16:36] kujenga commented on #31
Update from Ian: Two blogs in the works, clarifying what is okay to use in terms of data for contract tracing. Few others as well

[2020-05-01 16:37] kujenga commented on #36
Closing this out with the Mulesoft folks effort completed.

[2020-05-01 16:37] #36 closed, assigned to imanzano

[2020-05-01 16:41] kujenga commented on #12
Update: Converted CDC questions into a hard-coded format that will be added into the app. Also some discussion about translation.

Server will allow an `Accept-Language` header in the future to handle this.

Client will pass this header and it will get back all surveys related to that language.

@aputinski and @ppadmanabhan-sf will connect offline

[2020-05-01 16:43] kujenga commented on #16
Update: Things looking good on this front

[2020-05-01 16:43] kujenga commented on #6
Adapting this to handle multiple languages, then will close this out.

[2020-05-01 16:52] kujenga commented on #11
Closing this out! Just encryption and merge remaining

[2020-05-01 16:52] #11 closed, assigned to troach-sf

[2020-05-01 16:55] kujenga commented on #29
Update: Android side completed just minutes ago, iOS done.

Would like a formal security review. iOS was fairly straightforward, Android was more complicated and pulled in a library.

@ShivanKaul will take a look, some discussion of pros/cons of using a library. Will look more closely at the tradeoff here, make sure no older versions of the app are insecure.

Would like Fiaz and his team to review

[2020-05-01 16:56] kujenga commented on #38
Update: will work with them to adjust for new API design so that the phone does more computation.

[2020-05-01 16:57] kujenga commented on #42
This is complete, because of the reduced scope, all issues are okay.

[2020-05-01 16:57] #42 closed, assigned to ShivanKaul

[2020-05-01 16:57] kujenga commented on #41
Closing this out as complete for v1

[2020-05-01 16:57] #41 closed, assigned to ShivanKaul

[2020-05-01 16:59] kujenga commented on #40
Update: discussion in standup, Ranna checks about QA resources from their side, can get some help with this as well.

Some resources on privacy testing as well. Combo of legal and testing folks.

[2020-05-04 16:34] kujenga commented on #9
Update:

Fiaz: Still waiting on final recommendations from the security team. Some tools have already been run against the codebase. There are other companies helping on this space.

Sam: Confirming that review process Salesforce is doing is different in goals.

Code review for @troach-sf happened as well

[2020-05-04 16:35] kujenga commented on #29
Update: Comments from @troach-sf that things look generally good. Pending review in the third party library, but otherwise Fiaz confirms that we are good to go.

[2020-05-04 16:36] kujenga commented on #29
PR has already been created, pending security approval (which we now have). Tim and Abhishek and others have looked at it, all okay at a high level.

May look at additional tests as well.

Location accuracy is another area where we may be be able to help as a follow-on task. Sam will connect with Tim and Tyler to confirm next steps here as well.

[2020-05-04 16:38] kujenga commented on #9
Looking at using Snyk as well

[2020-05-04 16:40] kujenga commented on #12
Update: working on starting and ending screens, maybe need another ending screen.

One pending item, there is still some pending copy that is needed. @aputinski going with what we have today.

@andrew-sfdc will go through that piece and can help fill that role. Ranna can also sync up on this to help out. Maybe be some folks on the SafePaths designer side to help here as well.

[2020-05-04 16:47] kujenga commented on #51
Update: Still need a resolution here.

Discussion output: Use the locale of the application to choose a different JSON file. Do not use the localization within the application for the survey questions.

@aputinski finishing up his work stream this work. He will focus on getting everything working for the static version going first.

Paolo: More and more thinking about central server rather than st

[2020-05-04 16:49] kujenga commented on #35
Unassigning folks, decision was recorded last week.

[2020-05-04 16:50] kujenga commented on #52
Update: @imanzano working with a few comments from @ppadmanabhan-sf to support this functionality.

[2020-05-05 16:33] kujenga commented on #12
Update: lots of cleanup yesterday, will be going through flows and copy today to validate.

Punting for now on full server interactions, some polish needed there, loading states, etc. Can come back to this in the future.

Aiming for wrap up today!

[2020-05-05 16:33] kujenga commented on #16
Update: moving to the backlog, not technically required for current release focus

[2020-05-05 16:36] kujenga commented on #51
Update:
- Agreed upon using two files, _not_ using the current localization in the app
- New JSON file will be from CDC questions, and their spanish translations
	- @ThomasDuBois make the original questions
	- @aputinski will follow up with Sam about getting help with JSON

[2020-05-05 16:37] kujenga commented on #29
Update: Wrote all tests for the Android side, writing iOS currently. Then can merge, pushing for the end of day today.

Most of the people who need to look at it have done so. Tests will be the last thing before merge.

[2020-05-05 16:38] kujenga commented on #43
Update: Sam shares that there is a PM leading the effort, will tag @ShivanKaul on that design doc

[2020-05-06 16:34] kujenga commented on #29
Update: testing complete on all platforms, PR is ready to go: https://github.com/Path-Check/covid-safe-paths/pull/747

@ShivanKaul shares that code review looks good, Diego on SF security team will be doing some local testing.

[2020-05-06 16:37] kujenga commented on #12
Update: Met with Andrew and Paolo yesterday, got some additional assets.

Text for alert box if you don't "agree" to the first question is TBD, that should be last thing.

Aiming to do a hand-off with Paolo and Ranna, today or tomorrow.

PR will be opened without the server component fully polished. Will be mergeable for the MIT version that is all local.

[2020-05-06 16:37] kujenga commented on #51
Update: We will not be shipping the additional translation, but it's fully supported and easy to do through the included mechanism.

[2020-05-06 16:38] kujenga commented on #38
Update from @ppadmanabhan-sf : This is available, all dependent on when/how we want to use it.

[2020-05-06 16:38] #38 closed

[2020-05-06 16:42] kujenga commented on #26
Update: @ppadmanabhan-sf shares that server is available to be deployed anywhere. Sam: To start, PCI (Path Check Inc.) will be hosting in heroku.

[2020-05-06 16:42] kujenga commented on #9
Last things here:
- Local testing of mobile app encryption

[2020-05-06 16:43] kujenga commented on #31
Update: @ShivanKaul will look to merge his quip doc into MIT resources, working with office of ethical use in SF to confirm next steps, will include Paolo.

[2020-05-06 16:47] kujenga opened #56 "Improve accuracy of location tracking"
@troach-sf brings up issues with accuracy of cell-tower triangulation, current app shows movement even when stationary at home.

Okay for memory aid, not so for contact tracing.

Focus for V1 is on memory aid.

[2020-05-07 03:33] imanzano commented on #52
Update: The work is finished, available in our Heroku environment and Merge in Prithvi repository.

The details of the implementation are:

Survey API supports store surveys in different languages. The API uses the standard HTTP Header accept-language in order to determine the language to associate with the survey.

[2020-05-07 16:35] kujenga commented on #29
Update: Working through last question on whether or not we should backfill data.

Agreed that we should not store data, question is about for detecting intersections. For HAs, don't want to send assumed data points. Intersection is in discussion.

This is holding up merging currently. May just make it configurable so that the decision can be made later on. Discussing with Sam, Abhishek, others on

[2020-05-07 16:37] kujenga commented on #12
Update: @andrew-sfdc will get text to @aputinski for completing the last pieces of this.

Adam to get up a PR today with instructions for any future work. PR is intended to be mergable, just without completed server connectivity. It will work with local data.

[2020-05-07 16:39] kujenga commented on #52
server has been updated and the code is in the open source repo. Closing this out!

[2020-05-07 16:39] #52 closed, assigned to imanzano

[2020-05-07 16:40] kujenga commented on #51
Closing this out as resolved, #52 contains information on the specifics of the language spec for the server, the approach for local data is working, and the safe paths team will add alternate translations.

[2020-05-07 16:40] #51 closed, assigned to aputinski

[2020-05-07 16:40] kujenga commented on #6
Closing this the language functionality added.

[2020-05-07 16:40] #6 closed

[2020-05-07 16:40] kujenga commented on #20
There is one last TODO for Andrew on alert text, that will then close this out

[2020-05-07 16:41] kujenga commented on #26
Update: Sam will setup folks to try out a heroku deployment.

[2020-05-07 16:42] kujenga commented on #31
Update: Ian has a draft of a new post about location + bluetooth, plan to publish tomorrow!

[2020-05-07 16:43] kujenga commented on #56
Update: @troach-sf rolling off on Monday, probably won't be able to dig into this. Will provide a commit that's a starting point for improvements at least on the Android side.

Will need someone else to take on the bulk of the work. ack from SAm

[2020-05-07 16:44] troach-sf commented on #56
Quick spike of what a fix could look like: https://github.com/troach-sf/background-geolocation-android/tree/spike/minimum-accuracy-threshold

[2020-05-08 16:33] kujenga commented on #12
Update: Tim reviewing code, Ali referring UX.

[2020-05-08 16:33] kujenga commented on #20
Closing this out with the PR now filed!

[2020-05-08 16:33] #20 closed

[2020-05-08 16:33] kujenga commented on #1
Closing this out with the self-reporting PR now filed

[2020-05-08 16:33] #1 closed, assigned to ThomasDuBois

[2020-05-08 16:34] kujenga commented on #26
Update: Sam expecting testing early next week

[2020-05-08 16:51] kujenga commented on #39
Request sent to Abhishek to whitelist Snyk on the privatekit org, following instructions here: https://support.snyk.io/hc/en-us/articles/360000921278-How-do-I-authorize-a-new-Github-organization-

[2020-05-08 20:03] kujenga commented on #39
Scan has been setup [1] on the https://github.com/PrivateKit/private-kit-service repo, there are three issues raised, I believe these were looked at already but it would be great to document the responses somewhere. The vulnerable modules are:
- `org.dom4j:dom4j`
- `org.hibernate.validator:hibernate-validator`
- `org.yaml:snakeyaml`

@imanzano @ppadmanabhan-sf was the thinking behind these documen

[2020-05-09 22:30] tstirrat commented on #29
788 was merged

[2020-05-11 16:34] kujenga commented on #29
Update: @troach-sf will be adding backfill back into the system, they will be annotated as such so that they can be filtered out in the future.

@troach-sf completed it for Android, finishing up iOS now.

Encryption work and location storage improvements are in.

Still pending Diego's completion of review.

[2020-05-11 16:36] kujenga commented on #12
Update: PR was submitted last week, there is some outstanding feedback.

@aputinski has requirements to go back to his team, would need manager approval to spent some more time. Paolo will reach out accordingly.

Some of the feedback was on the UX side, @aputinski will review with Paolo later today to discuss specific points.

[2020-05-11 16:38] kujenga commented on #16
Update: PR has some comments as to additional work that is needed here. Work is about 85% of the way there.

@aputinski to collate all thoughts on what is needed for the next steps on the survey API work into a single place for it to be taken over.

[2020-05-11 16:40] kujenga commented on #39
Aaron to send invite to @imanzano so that he can double check on this.

[2020-05-11 16:41] kujenga commented on #26
Update: Someone in Korea will be taking this on, working on time zone alignment for a slot to connect.

[2020-05-11 16:42] kujenga commented on #43
Update: @ShivanKaul shares that lots of work on the SafePaths side of things to this end. Lots of momentum moving in a good direction.

Sam points out that Adam will be a counterpoint/resource to work with.

[2020-05-11 16:43] kujenga commented on #40
QA will be part of the release process, Ranna will involve them.

Closing this since it's now covered by the release process.

[2020-05-11 16:43] #40 closed, assigned to nobody

[2020-05-11 16:46] kujenga commented on #56
Update: @troach-sf to follow up with some comments in SafePaths GitHub to share any context/ideas here to close out this thread from his point of view.

[2020-05-11 18:45] troach-sf commented on #29
Last bit of work has a PR and is pending review: https://github.com/Path-Check/covid-safe-paths/pull/798

[2020-05-12 16:33] kujenga commented on #12
Spent some time yesterday to clean up initial issues, a few more were raised, but those will be handed off to the team reviewing the PR.

Sounds like things are in a good place to be brought in, PR has comments about what needs to be updated.

[2020-05-12 16:36] kujenga commented on #9
Local testing complete for the encryption with no issues found!

[2020-05-12 16:36] #9 closed, assigned to nobody

[2020-05-12 16:36] kujenga commented on #29
PR is approved, just not yet merged, expect it to come in soon with the #9 security review work complete with no issues.

[2020-05-12 16:37] kujenga commented on #16
PR that @aputinski put up has info on what the next steps here are

[2020-05-12 16:41] kujenga commented on #39
@imanzano to post analysis in Slack, sounds like there is no current impact on our service.

[2020-05-12 17:44] imanzano commented on #39
I fix the vulnerabilities. I sent the PR to @ppadmanabhan-sf  and it is merged too.

[2020-05-12 20:27] kujenga commented on #39
Awesome, Snyk looks clean! Closing this out, thanks so much.

[2020-05-12 20:27] #39 closed, assigned to fzavalia

[2020-05-13 16:32] kujenga commented on #29
Closing this out with Tyler's work merged upstream! ref: https://github.com/Path-Check/covid-safe-paths/pulls?q=is%3Apr+author%3Atroach-sf+sort%3Aupdated-desc

[2020-05-13 16:32] #29 closed, assigned to ShivanKaul, troach-sf

[2020-05-13 16:33] kujenga commented on #10
Closing this out with the enclosed work that is in scope complete.

[2020-05-13 16:33] #10 closed, assigned to troach-sf

[2020-05-15 16:35] kujenga commented on #12
PR moving forward, folks on the open source project will tackle the last remaining items: https://github.com/Path-Check/covid-safe-paths/pull/776

[2020-05-15 16:36] kujenga commented on #43
Update: They are working on this, no specific deadline set. It's a known issue now though./

[2020-05-15 16:37] kujenga commented on #31
Update: Ian published third blog post on location, picked up be The Startup! Good exchange with Professor Raskar.

World consensus does seem to be that Apple/Google are not allowing location + BLE in the same app.

[2020-05-15 16:39] kujenga commented on #56
Closing this out, seems to be a clearly known issue for the project, so they can track that in existing issues.

[2020-05-15 16:39] #56 closed, assigned to nobody